.box-edit{
    position: relative;
    border-radius: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    color: white;
    width: 296px;
    height: 296px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.position-edit{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    transition: 2s ease;
}

.row-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    body{
        background-color: #E0E0E0;
        position: relative;
        height: 100vh;
        width: 100vw;
        .hide {
            height: 0;
            opacity: 0;
            transition: 2s ease;
            z-index: 0;
        } 
        .first{
            @extend .position-edit;
            .box{
                @extend .box-edit;
                h1{
                    padding: 10%;
                    font-size: 2rem;
                }
                p{
                    font-size: 1.2rem;
                }
                .arrowRight{
                    position: absolute;
                    bottom: 10%;
                    right:10%;
                    font-size:30px;
                    cursor: pointer;
                }
            }
        }
        .second{
            @extend .position-edit;
            .second-row{
                @extend .row-edit;
                .box{
                    @extend .box-edit;
                width: 146px;
                height: 146px;
                margin: 2px;
                    &:hover{
                        transform: scale(1.5);
                        z-index:3;
                        cursor: pointer
                    }
                    .arrowLeft {
                        position: absolute;
                        top: 10%;
                        left:10%;
                        font-size:30px;
                        &:hover {
                            transform: scale(1.5);
                         cursor: pointer;
                        }
                    }
                }
            }
        }
        .about {
            @extend .position-edit;
            .box{
                @extend .box-edit;
                .arrowLeftBig {
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    font-size: 80px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .projects{
            @extend .position-edit;
            .projects-row{
                @extend .row-edit;
                .box {
                @extend .box-edit;
                width: 96px;
                height: 96px;
                margin: 2px;
                &:hover{
                    cursor: pointer;
                    }
                    p{
                        font-size: 8px;
                    }
                    img{
                        width: 45px;
                        height: 65px;
                    }
                }
                .center{
                    position: absolute;
                    top: calc(50% - 150px);
                    left: calc(50% - 150px);
                    height: 300px;
                    width: 300px;
                    transition: 2s ease;
                    z-index: 4;
                }
            }
        }
        .technology{
            @extend .position-edit;
            .technology-row{
                @extend .row-edit;
                .box{
                @extend .box-edit;
                width: 71px;
                height: 71px;
                margin: 2px;
                &:hover{
                    transform: scale(1.5);
                    z-index:3;
                    cursor: pointer;
                }
                img{
                    width: 50px;
                    height: 50px;
                    transition: 1s ease;
                }
                }
            }
        }
        .contact{
            @extend .position-edit;
            .box{
                @extend .box-edit;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    h1{
                        margin-top: 30px;
                        margin-bottom: 0px;
                    }
                    .arrowLeftBig {
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        font-size: 30px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .form-message{
                        width: 250px;
                        height: 100px;
                        &:focus{
                            border: 1px solid #00FF00;
                        }
                    }
                    .form-email{
                        width: 250px;
                    }
                    .form-name{
                        width: 250px;
                    }
                    button{
                        width: 100px;
                        margin-bottom: 10px;
                        background-color: #E0E0E0;
                        border: none;
                        height: 20px;
                        &:hover{
                            cursor: pointer;
                        }

                    }
            }
        }
        
    }
}