.box-edit{
    position: relative;
    border-radius: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    color: white;
    width: 296px;
    height: 296px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
}

.size {
    border-radius: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    color: white;
    width: 96px;
    height: 96px;
    margin: 2px;
    transition: 0.5s ease;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
    position: fixed;
    transform: scale(3.1);
    left: calc(50% - 48px);
    top: calc(50% - 48px);
    z-index: 3;
    transition: 2s ease-in-out;
    p{
        font-size: 8px;
    }
    img{
        width: 45px;
        height: 65px;
    }
}

.hide-edit{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.flex-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px; 
}

.row-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    body{
        background-color: #E0E0E0;
        section{
            max-width: 400px;
            margin: 0 auto;
        }
        .first{
            transition: 2s ease;
        .first-hide{
            @extend .hide-edit;
                .box {
                    @extend .box-edit;
                h1{
                    padding: 10%;
                    font-size: 2rem;
                }
                p{
                    font-size: 1.2rem;
                }
                .arrowRight{
                    position: absolute;
                    bottom: 10%;
                    right:10%;
                    font-size:30px;
                    cursor: pointer;
                }
            }
        }
    }
        .second{
            transition: 2s ease;
        .second-hide{
            @extend .hide-edit;
        .second-flex { 
            @extend .flex-edit;
            .second-row {
                @extend .row-edit;
                .box {
                    @extend .box-edit;
                    width: 146px;
                    height: 146px;
                    margin: 2px;
                    transition: 1s ease;
                    &:hover{
                        transform: scale(1.5);
                        z-index:2;
                        cursor: pointer
                    }
                    .arrowLeft {
                        font-size: 100px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            }
        }
        }
        .about{
            transition: 2s ease;
        .about-hide {
            @extend .hide-edit;
            .box{
                @extend .box-edit;
                .arrowLeftBig {
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    font-size: 80px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        }
        .projects{
            transition: 2s ease;
        .projects-hide {
            @extend .hide-edit;
            .projects-flex{
                @extend .flex-edit;
                position: static;
                .projects-row {
                    @extend .row-edit;
                }
                .box {
                    @extend .box-edit;
                    position: static;
                    width: 96px;
                    height: 96px;
                    margin: 2px;
                    transition: 0.5s ease;
                    &:hover{
                        transform: scale(1.5);
                            z-index:2;
                            cursor: pointer;

                    }
                    p{
                        font-size: 8px;
                    }
                    img{
                        width: 45px;
                        height: 65px;
                    }
                }
                .box1{
                    transition: 2s ease;
                }
            }
        }
    }
    .technology{
        transition: 2s ease;
        .technology-hide{
            @extend .hide-edit;
            .technology-flex {
                @extend .flex-edit;
                .technology-row{
                    @extend .row-edit;
                    .box {
                        @extend .box-edit;
                        flex-direction: row;
                        width: 71px;
                        height: 71px;
                        margin: 2px;
                        transition: 1s ease;
                        &:hover{
                            transform: scale(1.5);
                            z-index:2;
                            cursor: pointer;
                        }
                        img{
                            width: 50px;
                            height: 50px;
                            transition: 1s ease;
                        }
                    }
                }
            }
        }
    }
    }
}

.hide {
    height: 0;
    opacity: 0;
    transition: 2s ease;
} 




